<nav>
  <div class="menu">
    <div class="menu__account"></div>
    <div class="menu__income"></div>
    <div class="menu__expenses"></div>
    <div class="menu__budget"></div>
    <div class="menu__bills-and-receipts"></div>
    <div class="menu__reports"></div>
    <div class="menu__add-income"></div>
    <div class="menu__add-expense"></div>
    <div class="menu__transfer"></div>
    <div class="menu__add-bills-and-receipts"></div>
    <div class="menu__summary"></div>
    <div class="menu__more"></div>
  </div>
</nav>
